
{% extends "layouts/base.html" %}
{% block content %}

<div class="row">
  {% include "runtime/header.html" ignore missing %}
</div>

<div class="row">
  <div class="two columns">
    {% include "runtime/controls.html"  %}
  </div>
  
  <!-- <div class="row"> -->
  <div class="nine columns">
    {% include "runtime/main_pane.html" %}
  </div>
</div>



<H6 align="left">
<p>  Instructions: Write the battle tag of the players and click on the load button. Choose mode and hero to compare the stats. </p>

<p>  Some suggested players: Ale-1244, Frenci-1486, kiukki-2350, Alby-2701, ziGno-2418, Sam-1619 </p>
</H6>


{% endblock %}
